<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking">

	<insert id="insert">
		insert into parking(vehicle_no)
		values(#{vehicleNo})
	</insert>
	<select id="allList" resultType="parkingDto">
		select * from parking
	</select>

	<select id="searchList" resultType="parkingDto">
		SELECT * FROM parking WHERE vehicle_no LIKE CONCAT('%', #{vehicleNo})
	</select>
	<select id="selectOne" resultType="parkingDto">
		select * from parking WHERE vehicle_no =#{vehicleNo}
	</select>
	
	
	<insert id="createReceipt">
		insert into receipt(vehicle_no,days,hours,minutes,price) values(#{vehicleNo},#{days},#{hours},#{minutes},#{price})
	</insert>
	
	<select id="searchReceipt">
		select * from receipt where vehicle_no =#{vehicleNo}
	</select>

</mapper>