<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email">
	<insert id="auth">
		INSERT INTO email_auth (client_email,
		authentication_text)
		VALUES (#{clientEmail}, #{authenticationText})
	</insert>

	<delete id="deleteAuth">
		delete from email_auth where client_email = #{email}
	</delete>

	<select id="findAuth" resultType="EmailAuthDto">
		SELECT * FROM email_auth WHERE
		client_email = #{email} ORDER BY auth_id DESC
		LIMIT 1;
	</select>

</mapper>